
  <tr id="<%= dom_id ticket %>">
    <td><%= ticket.title%></td>
    <td><%= ticket.description%></td>
    <td><%= ticket.priority%></td>
    <td><%= ticket.category%></td>
    <td><%= ticket.status%></td>
    <td><%= ticket.user_id%></td>
    <td><%= ticket.project_id%></td>
    <td><%= link_to "Details", ticket %></td>
    <td><%= link_to "Edit", edit_ticket_path(ticket) %></td>
    <td><%= link_to "Delete", ticket, method: :delete %></td>
  </tr>

